{% extends "home/base.html" %} {% block content %}

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4 px-lg-5">
    <a class="navbar-brand" href=" {% url 'home' %} ">Your Inventory</a>
   
      <button class="btn btn-outline-dark" type="button">
        <a class="mr-2" href="{% url 'create' %}">
          <i class="bi-cart-fill me-1"></i> Add Product</a
        >
      </button>
      <button class="btn btn-outline-dark" type="button">
        <a class="mr-2" href="{% url 'logout' %}">
          LogOut</a
        >
      </button>

    </div>
  </div>
</nav>

{% if messages %}
{% for message in messages %}
    <div class="alert alert-success">
        <strong>{{ message|escape }}</strong>
    </div> 
{% endfor %}
{% endif %}

<!-- Section-->
<div class="p-3 mb-2 bg-light text-dark">
  <div class="container">
    <form action="{% url 'search-results' %}" method="get" class="form-inline" >
      {{ product_filter.form }}
      <input type="submit" class="btn btn-outline-success my-2 my-sm-0" value="Search">
    </form>
  </div>
</div>


{% if user.is_authenticated %}
<ul class="list-group my-5">
  <li class="list-group-item">
    <div class="container">
      <div class="row">
        <div class="col-sm-5">Product</div>
        <div class="col-sm-2">Inventory</div>
        <div class="col-sm-2">Category</div>
        <div class="col-sm-2">Brand</div>
        <div class="col-sm-1">Action</div>
      </div>
    </div>
  </li>
  {% for product in products %}
  <li class="list-group-item">
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <img src="{{product.image.url}}" width="30" height="30" />
          <a class="mr-2" href="{% url 'update' product.id%}"
            >{{product.name}}</a
          >
        </div>
        <div class="col-sm-2">{{product.countInStock}}</div>
        <div class="col-sm-2">{{product.category}}</div>
        <div class="col-sm-2">{{product.brand}}</div>
        <div class="col-sm-1">
          <a
            class="btn btn-danger btn-sm"
            href=" {% url 'delete' product.id %} "
            onclick="return confirm('Are you sure you want to delete this item?');"
          >
            Delete
          </a>
        </div>
      </div>
    </div>
  </li>

  {% endfor %}
</ul>
{% else %}
<h3>Please Login First!</h3>
{% endif %} {% endblock content %}
